<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::head()"></head>
<body>

<form th:method="POST" th:action="@{/people}" th:object="${person}">
    <label for="fullName">Введіть ПІБ:</label>
    <input id="fullName" type="text" th:field="*{fullName}">
    <br>
    <label for="yearOfBirth">Введіть рік народження:</label>
    <input id="yearOfBirth" type="number" th:field="*{yearOfBirth}">
    <br>
    <input type="submit" value="Додати">
</form>

</body>
</html>