<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::head()"></head>

<body>
<div th:text="${book.getTitle()}+', '+${book.getAuthor()} +', '+ ${book.getYear()}">
    Book value
</div>
<br>
<hr>
<div>
    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" value="Редагувати">
    </form>
</div>
<div>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Видалити">
    </form>
</div>

</body>
</html>